@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --primary-dark-cyan: hsl(185, 75%, 39%);
  --primary-very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --primary-dark-grayish-blue: hsl(227, 10%, 46%);

  --neutral-dark-gray: hsl(0, 0%, 59%);
}

*,
*::after,
*::before,
html {
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--primary-dark-cyan);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pattern-top,
.pattern-bottom {
  position: absolute;
  z-index: -1;
}

.pattern-top {
  top: 0;
  left: 0;
  transform: translate(-25%, -50%);
}

main {
  max-width: 20rem;
  height: 20rem;
  background-color: white;
  position: relative;
  border-radius: 15px;
}

main .upper-pattern {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.profile-picture {
  position: absolute;
  display: block;
  top: 4.85rem;
  left: 6.75rem;
  right: 0;
}

.profile-picture img {
  border-radius: 100%;
  outline: 5px solid white;
  object-fit: cover;
}

.pattern-bottom {
  bottom: 0;
  right: 0;
  transform: translate(20%, 58%);
}

.profile-content {
  margin-block: 3.5rem;
  text-align: center;
}

.profile-content h1 {
  color: var(--primary-very-dark-desaturated-blue);
  margin-bottom: 0;
}

.profile-content h1 span {
  color: var(--primary-dark-grayish-blue);
  font-weight: 400;
  margin-left: 0.3rem;
}

.profile-content p {
  font-size: 0.8rem;
  color: var(--primary-dark-grayish-blue);
  font-weight: 400;
  margin-top: 0.4rem;
}

.profile-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  margin-top: 1.5rem;
}

.profile-stats div h2 {
  font-size: 1rem;
  color: var(--primary-very-dark-desaturated-blue);
  margin-bottom: 0;
}

.profile-stats div p {
  font-size: 0.6rem;
  margin-top: 0.1rem;
  letter-spacing: 0.1rem;
  color: var(--neutral-dark-gray);
}

@media (max-width: 800px) {
  .pattern-top,
  .pattern-bottom {
    width: 100%;
  }

  .pattern-top {
    transform: translate(-46%, -55%);
  }

  .pattern-bottom {
    transform: translate(41%, 53%);
  }
}
